$color-shadow:rgba(0, 0, 0, 0.2) ;
$blanco: white;
$color_1: #0d6efd;
$color_2: #888;
$font-inter: "Inter","sans-serif";
$font-arial: Arial, sans-serif;
$background-color_1: #1cb5e0;
$background-color_2: #000046;
$background-color_3: aqua;
